<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="css/app.css"> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Summarize text</a></li>
                    <li><a href="#">Other</a></li>

                </ul>
            </nav>

        </div>

    </header>
    <!--Main-->
    <section>
        <div class="text-editor-sec">
            <div class="editable_viewR col-sm-6">
                <textarea id="text_input" rows="100" cols="100" name="description" class="text-editor">
                Enter details here...
             </textarea>
            </div>
            <div class="editable_viewL col-sm-6 text-editor">
                <script>
                    summary = ""
                    nodes = {
                        "data": {
                            "sub": "summary"
                        },
                        "children": [
                            {
                                "data": {
                                    "sub": "I",
                                    "click": "click"
                                },
                                "children": [
                                    {
                                        "data": {
                                            "sub": "answer",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "question"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "data": {
                                            "sub": "like",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "write"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "data": {
                                    "sub": "interesting articles",
                                    "click": "click"
                                },
                                "children": [
                                    {
                                        "data": {
                                            "sub": "read on",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "topics"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "data": {
                                    "sub": "You",
                                    "click": "click"
                                },
                                "children": [
                                    {
                                        "data": {
                                            "sub": "’ll find",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "read on topics"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "data": {
                                            "sub": "’ll find",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "articles"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "data": {
                                            "sub": "browse",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "my best articles"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "data": {
                                            "sub": "can use",
                                            "ref": "ref"
                                        },
                                        "children": [
                                            {
                                                "data": {
                                                    "sub": "categories"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                    sections = {}
                    enitities = []
                    async function query() {
                        text = document.getElementById("text_input").value;
                        res = await fetch("/process", {
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                text: text
                            })
                        });

                        data = await res.json();
                        summary = data.summary;
                        nodes = data.nodes;
                        sections = data.sections;
                        enitities = data.entities;
                    }

                    // update the summary element with the summary and hyperlink the salient words such that they do a google search
                    function updateSummary(summary, salient_words) {
                        var summary_element = document.getElementById("summary");
                        summary_element.innerHTML = summary;
                        var words = summary_element.getElementsByTagName("span");
                        for (var i = 0; i < words.length; i++) {
                            var word = words[i];
                            var word_text = word.innerHTML;
                            if (salient_words.includes(word_text)) {
                                word.innerHTML = "<a href='https://www.google.com/search?q=" + word_text + "'>" + word_text + "</a>";
                            }
                        }
                    }


                    function highlight(start_char, end_char) {
                        // clear previous highglight
                        _html = document.getElementById("text_input").innerHTML;
                        _html = _html.replace("<mark>", "");
                        _html = _html.replace("<\/mark>", "");

                        // highlight
                        _html = _html.replace(start_char, "<mark>" + start_char);
                        _html = _html.replace(end_char, end_char + "</mark>");
                    }

                    function build_graph() {
                        var canvas = d3.select("body").append("svg")
                            .attr("width", 700)
                            .attr("height", 700)
                            .append("g")
                            .attr("transform", "translate(50,50)");


                        var tree = d3.tree()
                            .size([400, 400]);

                        d3.json("tree", function (err, data) {
                            console.log(err)
                            var nodes = tree(d3.hierarchy(data));
                            var links = nodes.links();

                            var node = canvas.selectAll(".node")
                                .data(nodes.descendants())
                                .enter()
                                .append("g")
                                .attr("class", "node")
                                .attr("transform", function (d) {
                                    return "translate(" + d.y + "," + d.x + ")";
                                });
                            //action on selecting a circle only for one entity  

                            test = "This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems. You’ll find interesting articles to read on topics like how to stop procrastinating as well as personal recommendations like my list of the best books to read and my minimalist travel guide. Ready to dive in? You can use the categories below to browse my best articles."

                            node.on("click", function (d) {
                                if (d.data.data.click == "click") {
                                    start_string = d.data.data.sub;
                                    end_string = []
                                    for (let i = 0; i < d.data.children.length; i++) {
                                        highlight(start_string, (d.data.children[i].data.sub));
                                    }
                                }
                            });
                            // node.on("click", function(d) {
                            //     if(d.data.click != null){
                            //         console.log("done");
                            //         return
                            //     }
                            // }
                            // )

                            node.append("circle")
                                .attr("r", d => {
                                    if (d.data.data.ref != null) {
                                        return 5;
                                    } else { return 20 }
                                })
                                .attr("fill", "steelblue");



                            node.append("text")
                                .text(function (d) {
                                    //console.log(d);
                                    return d.data.data.sub;
                                })



                            // var diagonal = d3.svg.diagonal() 
                            // .projection( function(d) {
                            //     return [d.y, d.x];
                            // });
                            var diagonal = d3.linkVertical()
                                .x(function (d) { return d.y })
                                .y(function (d) { return d.x })



                            // const link = d3.link(d3.curveBumpY)
                            //     .x(d => d.x)
                            //     .y(d => d.y);

                            canvas.selectAll(".link")
                                .data(links)
                                .enter()
                                .append("path")
                                .attr("class", "link")
                                .attr("fill", "none")
                                .attr("stroke", "#ccc")
                                .attr("d", diagonal);


                        })
                    }
                    build_graph()
                </script>
                <!-- <textarea rows="100" cols="100" name="description" class="text-editor">
                 Outpur here
             </textarea> -->
            </div>
        </div>
    </section>
    <!-- <div id="button-container">
        <button id="who-are-we" class="font-spec">Summarize</button>
    </div>
    <section class="gen_button">
        <div class="container col-sm-12">
            <div class="anim">
                Butto generate
                <button class="button-style">Generate</button>
            </div>
        </div>
    </section> -->
    <section class="gen_button">
        <div class="container col-sm-12">
            <div class="anim">
                <!--Butto generate-->
                <button class="button"><span>Generate </span></button>
            </div>
        </div>
    </section>



</body>

</html>